tickTime={{ tick_time }}
dataDir={{ data_dir }}
dataLogDir={{ log_dir }}
clientPort={{ client_port }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}

{% for server in solr_instances|sort %}
{% if hostvars[inventory_hostname]['ec2_dns_name'] == hostvars[server]['ec2_dns_name']%}
server.{{loop.index}}=0.0.0.0:2888:3888
{% else %}
server.{{loop.index}}={{hostvars[server]['ec2_dns_name']}}:2888:3888
{% endif %}
{% endfor %}
